.Navbar{
    display:flex;
    justify-content: flex-end;

    
    width: 100%;
    
    background-color:rgb(146, 3, 3);
}

.Ul-navbar{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    
    list-style:none;
}

.linkNav{
    text-decoration: none;
    color:white;
}

.brand{
    width: 100%;
    
}

.linkBrand{
    
    width: 4%;
    margin-right: 50%;
}