.submenu{
    

    margin-top: 8px;
    text-decoration: none;
    color:white;
    position:absolute;
    list-style: none;
    text-align: start;
    
}




.submenu.clicked{
    display: none;
}



.submenu-item{
    display: block;
    width: 80%;
    text-decoration: none;
    color:white;
    padding: 10px;
    transition:all .5s ease;
    background: rgb(96, 57, 57);
    box-shadow: 5px 5px 10px black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.411);
}

.submenu-item:hover{
    transform: scale(1.1);
    border-radius: 10px;
}

